body
  text-align: center

#tetris
  display: inline-block
  margin-top: 50px

  .grid-row
    height: 30px

  .grid-column
    display: inline-block
    width: 30px
    height: 30px
    background-color: lightgray

  .selected
    background-color: black
